body {
    /*css for full size background image*/
    background: url('https://cdn-insomniac.s3.amazonaws.com/edc_las_vegas_2015_edc.com_carousel_1600x750_r02_0.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.jumbotron {
    position: relative;
    background: #000 url("https://www.fest300.com/system/images/W1siZiIsIjIwMTQvMDYvMTMvMDIvMjUvMjQvOTU2L0VsZWN0cmljX0RhaXN5X0Nhcm5pdmFsXzIwMTNfSW5zb21uaWFjX0V2ZW50c19VbmRlcl90aGVfRWxlY3RyaWNfU2t5X01vdmllX1N0aWxsLmpwZyJdXQ/Electric_Daisy_Carnival_2013_Insomniac_Events_Under_the_Electric_Sky_Movie_Still.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: navajowhite;
}

.sidebar{
    float: left;
    width: 25%;
    height: 800px;
    border-style: solid;
    border-color: black;
}

.email{
    float: right;
}
