body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

header {
    background-color: white;
    border-style: solid;
    text-align: center;
    height: 125px;
}

img{
    width: 75%;
    height: 25%;
}

#welcome{
    background-color: white;
    font-family: arial;
    font-size: 75px;
    height: 100px;
}

#navbar{
    background-color: white;
    border-style: solid;
    font-family: arial;
    font-size: 25px;
    text-align: center;
    height: 50px;
}

#navbar a:hover, a:focus, a:active{
    text-decoration: underline;
    color: black;
}

#navbar a:visited{
    font-weight: bold;
    color: maroon;
}

#tableWrap{
    width: 100%;
    margin: 0 auto;
}

.draftList{
    background-color: white;
    border-style: solid;
    font-size: 15px;
    font-family: arial;
    width: 25%;
    height: 500px;
    float: left;
}

.draftList h2, h3{
    text-decoration: underline;
}

.mainPage{
    background-color: white;
    border-style: solid;
    font-size: 15px;
    font-family: arial;
    width: 73%;
    height: 500px;
    float: right;
}

.mainPage p{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 50px;
}
